/* You can add global styles to this file, and also import other style files */

body {
  margin:0px;
  background-color: #434c5c;
  background-image: url("assets/dark-triangles.png");
  font-family: meiryo;
}

// Rarity colors class.
.rare1{ color: #a9a9a9; }
.rare2{ color: #dedede; }
.rare3{ color: #a1c32e; }
.rare4{ color: #48ab3f; }
.rare5{ color: #5caeba; }
.rare6{ color: #595cd9; }
.rare7{ color: #8c59ee; }
.rare8{ color: #c76c46; }
