/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cabin|Quicksand');

body {
  margin:0px;
  background-color: #434c5c;
  background-image: url("assets/dark-triangles.png");
  font-family: 'Cabin', sans-serif;
}

// Rarity colors class.
.rare1{ color: #a9a9a9; }
.rare2{ color: #dedede; }
.rare3{ color: #a1c32e; }
.rare4{ color: #48ab3f; }
.rare5{ color: #5caeba; }
.rare6{ color: #595cd9; }
.rare7{ color: #8c59ee; }
.rare8{ color: #c76c46; }

.inline-flex { display: inline-flex; }
.hidden { visibility: hidden; opacity: 0;}
.show { visibility: visible; opacity: 1;}
.fade-out { opacity: 0; }

.noscroll { overflow: hidden; }

.selected { border: 1px solid #d69230 !important; }

.btn-round { border-radius: 50%; }
.btn-sml { 
  width: 30px;
  height: 30px;
  border: 1px solid;
}
.btn-light {
  background: #32373f;
  border-color: #686e77;
}

button { cursor: pointer;}

input, textarea, select, button { 
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #0c111d;
  color: #c9c9c9;
  font-family: DINPRO;

  transition: border 0.4s, background 0.4s, box-shadow 0.4s; 

  &:hover, &:focus{
    border: 1px solid gray;    
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }

}
button.toggled-on {
  border: 1px solid lightblue;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

// Styles for when a form is submitted, mainly for validation.
.form-submitted{
  .ng-invalid {
    border-color: red;
  }
}
.form-submitted.ng-invalid {
  input[type="submit"]{
    color: gray;
    opacity: 0.4;
    pointer-events:none;
  }
}

// Styles for tooltips that can be used across the site
.tooltip {
  display: inline-block;
  position:relative;
}
.tooltip .tooltip-content {
  visibility: hidden;
  background-color: darkred;
  color: white;
  text-align: left;
  padding: 5px;
  border-radius: 6px;

  position:absolute;
  z-index: 1;
  bottom: 15%;
  left: 100%;
  margin-left: 5px;  

  font-style: italic;
  font-size: 0.7em;
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltip-content::after {
  content: "";
  position: absolute;
  left: 0%;
  margin-left: -11px;
  margin-top: -15px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent darkred transparent transparent;
}
.tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

// Default border color for mh-select
mh-select {  border-color: #0c111d; }