<div class="home-grid">
  <div class="main-logo">
    <img src="assets/logov1.png" />
  </div>

  <div class="data-overview">
    <button (click)=testChange() >Test Observable Change</button> 
    <ul class="list-overview">
      <li><span *ngIf="getItemCount() | async; let count" class="data-count">{{count}}</span> Items</li>
      <li><span *ngIf="getWepCount() | async; let count" class="data-count">{{count}}</span> Weapons</li>
      <li><span *ngIf="getArmCount() | async; let count" class="data-count">{{count}}</span> Armor Pieces</li>
      <li><span *ngIf="getSkillCount() | async; let count" class="data-count">{{count}}</span> Skills</li>
      <li><span *ngIf="getBuildCount() | async; let count" class="data-count">{{count}}</span> Builds</li>
    </ul>
  </div>
</div>
