<article class="item-detail">
  <h1 class="item-name">{{item.name}}</h1>
  <span class="item-type">{{changeTypeToFull()}}</span>
  <div class="item-icon">
    <img src="assets/items/OreIcon.png" alt="Iron Ore" />
  </div>
  <p class="item-desc">{{item.desc}}</p>
  <span [ngClass]="'item-rarity rare' + item.rarity"> Rarity {{item.rarity}}</span>
  <span class="item-carry"> Carry {{item.carry}}</span>
  <span class="item-buy">Buy for <span *ngIf="!item.buyPrice">-</span>{{item.buyPrice}} z</span>
  <span class="item-sell">Sell for <span *ngIf="!item.sellPrice">-</span>{{item.sellPrice}} z</span>
  <span class="item-obtain">Obtained from {{item.obtainedFrom}}</span>
</article>