<article class="item-detail">
 
    <img class="item-icon" src="assets/items/OreIcon.png" alt="Iron Ore" />


  <h1 class="item-name"><span [ngClass]="'rare' + item.rarity"> R{{item.rarity}} </span>{{item.name}}</h1>
  <span class="item-type">{{changeTypeToFull()}}</span>

  <p class="item-desc">{{item.desc}}</p>  
  
  <div class="item-buy">
    Buy for <span><span *ngIf="!item.buyPrice">-</span>{{item.buyPrice}} z </span>
  </div>
  <div class="item-sell">
    Sell for <span><span *ngIf="!item.sellPrice">-</span>{{item.sellPrice}} z </span>
  </div>
  <div class="item-carry"> Carry <span>{{item.carry}}</span></div>

  <div class="item-obtain">Obtained from <span>{{item.obtainedFrom}}</span></div>
</article>