<article *ngIf="!isForm, else formBlock" class="item-detail">
  <img class="item-icon" src="assets/items/OreIcon.png" alt="Iron Ore" />

  <div class="item-name-n-rarity" >
    <h1 class="item-name"><span [ngClass]="'rare' + item.rarity"> R{{item.rarity}} </span>{{item.name}}</h1>
  </div>
  
  <span class="item-type">{{changeTypeToFull()}}</span>

  <p class="item-desc">{{item.desc}}</p>  
  
  <div class="item-buy">
    Buy for <span>{{item.buyPrice}} z </span>
  </div>
  <div class="item-sell">
    Sell for <span>{{item.sellPrice}} z </span>
  </div>
  <div class="item-carry"> Carry <span>{{item.carry}}</span></div>

  <div class="item-obtain">Obtained from <span>{{item.obtainedFrom}}</span></div>
</article>

<ng-template #formBlock>
  <form class="item-detail" (submit)="onSubmit($event)" [formGroup]="itemForm">
    <img class="item-icon" src="assets/items/OreIcon.png" alt="Iron Ore" />
  
    <div class="item-name-n-rarity">
      <select [ngClass]="'rare' + itemForm.get('rarity').value" formControlName="rarity">
        <option value="null" disabled="true" [selected]="true">R0</option>
        <option *ngFor="let rarity of rarities" [ngClass]="'rare' + rarity" [value]="rarity">R{{rarity}}</option>
      </select>
      <input class="item-name" formControlName="name" placeholder="Name.."/>
    </div>

    <select class="item-type" formControlName="type">
      <option value="null" disabled="true" [selected]="true">Type</option>
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
  
    <textarea class="item-desc" 
      placeholder="Item description here..." formControlName="desc">
    </textarea>  
    
    <div class="item-buy">
      Buy for <input formControlName="buy" /> <span>z</span>
    </div>
    <div class="item-sell">
      Sell for <input formControlName="sell" /> <span>z</span>
    </div>
    <div class="item-carry">
      Carry <input formControlName="carry" />
    </div>
  
    <div class="item-obtain">
      Obtained from <input formControlName="obtained" />
    </div>

    <input class="item-submit" type="submit" value="Submit Item" />
  </form>
</ng-template>