.mh-select-input-container { 
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #0c111d;
    color: #c9c9c9;
    font-family: DINPRO;
    padding: 3px;

    display: inline-flex;

    transition: border 0.4s, background 0.4s, box-shadow 0.4s; 

    &:hover, &:focus {
        border: 1px solid gray;    
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgba(0,0,0,0.3);

        .mh-vr, .mh-arrow-wrapper {
            border-color: gray;
        }

    }

    input {
        border: 0px;
        box-shadow: none;
        background: none;
    }
}


.mh-arrow-wrapper {
    border: solid #0c0e15;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin: -2px 4px 0px 6px;
    align-self: center;
    transition: border 0.4s

}

.mh-vr {
    border: solid #0c0e15;
    border-width: 0px 0px 0px 1px;
    margin-left:4px;
    transition: border 0.4s
}