<div id="mh-select-container" (clickOutside)="expandOptions(false)">
    <div [ngClass]="{'expanded' : expanded, 'mh-select-input-container' : true}">
        <div id="mh-select-value" [ngClass]="{'hidden' : searchVal}">
            <div *ngIf="selectedOpt">
                <div *ngIf="!optType"> {{selectedOpt}}</div>
                <div *ngIf="optType == 'Skill'" class="mh-option-skill selected-value">                    
                    <img class="icon" src="{{selectedOpt.iconPath}}" />                
                    <span class="name">{{selectedOpt.name}}</span>               
                </div>
                <div *ngIf="optType == 'Rarity'">
                    <span [ngClass]="'rare'+ selectedOpt">R{{selectedOpt}}</span>
                </div>
            </div>            
        </div>
        <input id="mh-select-input" (keyup) = "filterOptions()" 
            (click)="expandOptions(true)" type="text" [(ngModel)]="searchVal"/>
        <div class="inline-flex">
            <span class="mh-vr"></span>
            <div (click)="expandOptions(!expanded)" class="mh-arrow-wrapper">
                <span class="mh-arrow"></span>
            </div>
        </div>
    </div>
    <div *ngIf="expanded" class="mh-select-option-container">        
        <div *ngFor="let option of filteredOpts"
            (click)="selectOption(option)" 
                [ngClass]="{'opt-selected' : (selectedOpt == option), 'mh-option' : true}">
            <div *ngIf="!optType"> {{option}}</div>
            <div *ngIf="optType == 'Skill'" class="mh-option-skill">
                <div>
                    <img class="icon" src="{{option.iconPath}}" />                
                    <span class="name">{{option.name}}</span>
                </div>                
                <span class="desc">{{option.desc}}</span>                        
            </div>
            <div *ngIf="optType == 'Rarity'">
                <span [ngClass]="'rare'+ option">R{{option}}</span>
            </div>
        </div>
        <div *ngIf="filteredOpts.length == 0" class="mh-option">
            No options found.
        </div>        
    </div>   
</div>