#mh-select-container{
    color:#c9c9c9;
    font-family: DINPRO;

    .expanded {
        @extend %focus;
        border-radius: 3px 3px 0px 0px;
    }

}

%focus {
    border: 1px solid gray;    
    background: rgb(19, 23, 31);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    .mh-vr, .mh-arrow {
        border-color: gray;
    }
}



.mh-select-input-container { 
    background: rgb(30, 38, 50);
    border-radius: 3px;
    border: 1px solid #0c111d; 
    padding: 3px 0px 3px 0px;    
    display: inline-flex;
    width: 100%;

    transition: border 0.4s, background 0.4s, box-shadow 0.4s; 

    &:hover, &:focus {
        @extend %focus;
    }

    input {
        border: 0px;
        margin-left: 4px;
        box-shadow: none;
        background: none;
    }
}

.mh-arrow-wrapper {
    margin: -3px 6px 0px 8px;    
}

.mh-arrow {
    border: solid #0c0e15;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);      
    transition: border 0.4s
}

.mh-vr {
    border: solid #0c0e15;
    border-width: 0px 0px 0px 1px;
    margin-left: 4px;
    transition: border 0.4s
}

.mh-select-option-container {
    height:100px;

    background: rgb(19, 23, 31);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    border-width: 0px 1px 1px 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 0px 0px 3px 3px;

    position: absolute;
    width: 100%;
}