#mh-select-container {
    color:#c9c9c9;
    font-family: DINPRO;

    .expanded {
        @extend %focus;
        border-radius: 3px 3px 0px 0px;
    }
}

#mh-select-value {
    position: absolute;
    margin-left: 4px;
    pointer-events: none;
}

%focus {
    border: 1px solid gray;    
    background: rgb(19, 23, 31);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    .mh-vr, .mh-arrow {
        border-color: gray;
    }
}



.mh-select-input-container { 
    background: rgb(30, 38, 50);
    border-radius: 3px;
    border: 1px solid #0c111d; 
    padding: 3px 0px 2px 0px;    
    display: inline-flex;
    width: 100%;

    transition: border 0.4s, background 0.4s, box-shadow 0.4s; 

    &:hover, &:focus {
        @extend %focus;
    }

    input {
        border: 0px;
        margin-left: 4px;
        box-shadow: none;
        background: none;
    }
}

.mh-arrow-wrapper {
    width: 20px;
    text-align: center;
    cursor: pointer;   
}

.mh-arrow {
    border: solid #0c0e15;
    border-width: 0 3px 3px 0;
    padding: 3px;
    bottom: 3px;
    position: relative;
    display: inline-block;    
    transform: rotate(45deg);      
    transition: border 0.4s;    
}

.mh-vr {
    border: solid #0c0e15;
    border-width: 0px 0px 0px 1px;
    margin-left: 4px;
    transition: border 0.4s
}

.mh-select-option-container {

    background: rgb(19, 23, 31);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    border-width: 0px 1px 1px 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 0px 0px 3px 3px;

    position: absolute;
    width: 100%;

}
    
.mh-option {
    padding: 3px;

    &:hover, &:focus {
        background: rgba(38, 47, 62, 0.5);
        cursor: pointer;
    }
}

.mh-option-skill{
    display: inline-grid;    
    grid-template-rows: auto auto;

    .icon { 
        width:20px;
        height: 20px;
        vertical-align: text-bottom;
    }
    .desc {
        grid-row: 2;
        font-size: 10px;
        font-style: italic;
        color: gray;
    }
}

.mh-no-options {
    padding: 5px;
    color: #6b6b6b;
    font-size: 14px;
}

.opt-selected {
    background: rgba(37, 53, 80, 0.5);
    color: white;
}