%small-italic {
  font-style: italic;
  font-size: 10px;
}
// Styles for larger devices.
@media only screen and (min-width: 769px){
  .tools-tab {
    display: none;
  }
  .tools-search {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;  
  }
  .header-tools {
    border-bottom: 1px solid #3f4651;    
    background: #1f242c;     
  }
  .tools-search, .search-pulled {
    width: 60%;
  }
}
// Styles for smaller devices.
@media only screen and (max-width: 768px){
  .tools-btns { 
    opacity: 0;
    height: 0px;
    padding: 0px 12px;
    pointer-events: none;
    justify-self: center;
  }
  .header-tools {
    position: absolute;
    top: 56px;
    padding: 0px;
    width: 65%;
    border: none;
  }
  .btns-pulled{
    border: 1px solid #3f4651;
    border-top: none;
  }
  .tools-search, .search-pulled {
    width: 100%;
  }
}

// Header styles, in order of html appearance.
#data-header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-category {
  color: #dbdbdb;
  border-bottom: 1px solid #3f4651;
  flex-grow: 1;
  margin: 0;
  background: #1f242c;
  padding: 8px;
}

.header-tools {
  display: grid;
}

// Header search styles.
.tools-search {
  opacity: 0;
  height: 0;
  background: #1f242c;
  overflow: hidden;
  transition: all 0.3s;
  justify-self: center;
}
.search-pulled {
  opacity: 1;  
  padding: 5px;
  height: 28px;
  border: 1px solid #3f4651;
  border-top: none;
}
.search {
  width: 100%;
  font-size: 17px;
  background: transparent;
  border: 0px;
  color: #ffffff;
  border-bottom: 3px solid #141518;

  ::placeholder{
    color: #85878a;
  }
}

// Header buttons styles.
.tools-btns {
  transition: all 0.3s;
  overflow: hidden;
  align-self: center;
}
.btns-pulled {
  opacity: 1;
  height: 31px;
  background: #1f242c;
  padding: 6px 12px;  
  pointer-events: all;
}
.header-btn{
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  position: relative;
  & button:hover {
    ~ .header-btn-tooltip {
      opacity: 1;
    }
  }
}
.header-btn-icon {
  font-size: 22px;
  position: relative;
  right: 5px;
  top: 2px;
}
.header-btn-tooltip {
  background: #cccdcf;
  margin-right: 33px;
  padding: 2px 5px;
  border: 1px solid #1c1d20;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  position: absolute;
  left: 32px;
  z-index: 2;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;  
}

// Header pull tab style.
.tools-tab {  
  padding: 3px 14px;
  border-radius: 2px;
  border: 1px solid #3f4651;
  border-top: none;
  cursor: pointer;
  transition: border 0.4s; 
  background: #1f242c;
  width: 11px;
  justify-self: center;  

  &:hover {
    border-color: #a4aebd;
    .chevron-down {
      border-color: #a4aebd; 
    }
  }
}

// Data container CSS
.data-category {
  padding-top: 15px;
}

// Styles for new item cards
.item-card-container {
  width: 300px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #343b4b;
  background: #1c212c;
  transition: border 0.4s;
}

.item-card-container:hover{
  border: 1px solid rgba(227, 227, 228, 0.7) !important;
}

.item-card { 
  padding: 10px 5px;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 2px; 
  grid-template-columns: 70px auto;  
  grid-template-rows: 22px 48px 20px;
}

.item-card-icon {
  grid-column: 1;
  grid-row: 1 / span 2;
  border: 1px solid black;
  border-radius: 4px;
  img {
    width: 100%;
    height: 100%;
  }
}

.item-card-name {
  grid-column: 2;
  color: white;
  font-size: 18px;
}

.item-card-desc {
  grid-column: 2;
  grid-row: 2;
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.item-card-rarity {
  grid-column: 1;
  grid-row: 3;  
  justify-self: center;
  align-self: center;
}

.item-card-misc {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 13px;
  color: #9b9a99;
  align-self: center;
}

.item-card-skill {
  grid-column: 1 / span 2;
  background: #141924;
  border-radius: 0px 0px 4px 4px;
  padding: 5px;
  border-top: 1px solid #343b4b;
}

.item-skill-name {
  color: white;
  img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
  }
}

.item-skill-desc {
  @extend %small-italic;
  color: gray;
}

.item-card-obtained {
  grid-column: 1 / span 2;
  font-style: italic;
  font-size: 12px;
  color: gray;
}

.item-count {
  padding: 2px;
  border-radius: 4px;
  background: #373b44;
  color: #d2d2d2;
  margin: 0px 1px;
}


.item-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 5px 9px 0px 9px;
  padding: 0px;
}