<div class="data-header">
  <img class="test-img" src="assets/itemsHeader.png" />
  <div class="test-search">
      <img class="search-icon" src="assets/searchIcon.png" />
      <input class="search" placeholder="Search..." type="text" />
  </div>
  <div class="test-cats">
    <div class="category">
      <img class="cat-img" src="assets/cats/mat-cat-on.png" />
    </div>
    <div class="category">
      <img class="cat-img" src="assets/cats/ammo-cat-on.png" />
    </div>
    <div class="category">
      <img class="cat-img" src="assets/cats/deco-cat-on.png" />
    </div>
    <div class="category">
      <img class="cat-img" src="assets/cats/misc-cat-on.png" />
    </div>
    <div class="category">
      <img class="cat-img" src="assets/cats/tool-cat-on.png" />
    </div>
  </div>
</div>
<div class="data-form">

</div>
<div class="data-container">

</div>
