<header id="data-header">
  <img class="header-img" src="assets/itemsHeader.png" />
  <div class="header-search">
      <img class="search-icon" src="assets/searchIcon.png" />
      <input (keyup)="searchFilter()" [(ngModel)]="searchStr" class="search" placeholder="Search..." />
  </div>
  <div class="header-tools">
    <div>
      <button (click)=addNewItem()>Add New Item</button>      
      <button (click)=testReq()>Test HTTP</button>       
      <button [ngClass]="{'toggled-on' : editMode}" (click)=toggleEditMode($event)>Edit Mode Off</button>  
    </div>
    <div>
      <button (click)="selectAll($event)">
        <span *ngIf="itemsSelected.length == 0, else deselectTxt">Select All</span>
        <ng-template #deselectTxt >Deselect All</ng-template>
      </button>
      <button (click)="deleteSelected()"> Delete Selected</button>
    </div>
  </div>
  <div class="header-cats">
    <div class="category" (click)="onCatClick($event, 'mat')">
      <img [ngClass]="{'top' : !allowMat}" src="assets/cats/mat-off.png" />
      <img [ngClass]="{'top' : allowMat}" src="assets/cats/mat-on.png" />
    </div>
    <div class="category" (click)="onCatClick($event, 'ammo')">
      <img [ngClass]="{'top' : !allowAmmo}" src="assets/cats/ammo-off.png" />
      <img [ngClass]="{'top' : allowAmmo}" src="assets/cats/ammo-on.png" />
    </div>
    <div class="category" (click)="onCatClick($event, 'deco')">
      <img [ngClass]="{'top' : !allowDeco}" src="assets/cats/deco-off.png" />
      <img [ngClass]="{'top' : allowDeco}" src="assets/cats/deco-on.png" />
    </div>
    <div class="category" (click)="onCatClick($event, 'misc')">
      <img [ngClass]="{'top' : !allowMisc}" src="assets/cats/misc-off.png" />
      <img [ngClass]="{'top' : allowMisc}" src="assets/cats/misc-on.png" />
    </div>
    <div class="category" (click)="onCatClick($event, 'tool')">
      <img [ngClass]="{'top' : !allowTool}" src="assets/cats/tool-off.png" />
      <img [ngClass]="{'top' : allowTool}" src="assets/cats/tool-on.png" />
    </div>
  </div>
</header>

<div id="data-container">

  <ng-container *ngFor="let category of objectKeys(itemsFiltered)"> 
    <section *ngIf="itemsFiltered[category].length > 0" class="data-category">
      <header>
        <h3>{{category}}</h3>
      </header>
      <ul>
        <li *ngFor="let item of itemsFiltered[category]">
          <div (click)="onItemClick($event, item)" class="list-item" 
            [ngClass]="{'selected' : itemsSelected.includes(item)}">
            <div class="list-item-icon">
              <img src={{item.iconUrl}} alt={{item.name}}/>
            </div>
            <div class="list-item-name">
              {{item.name}}
            </div>
            <div [ngClass]="'rare' + item.rarity">
              R{{item.rarity}}
            </div>
            <div class="list-item-desc">
              {{item.desc}}
            </div>
            <div class="list-item-obtained">
              Obtained <span> {{item.obtainedFrom}} </span>
            </div>            
            <div>
              Buy <span>{{item.buyPrice}} z </span>
            </div>
            <div>
              Sell <span>{{item.sellPrice}} z </span>
            </div>
            <div>
              Carry <span>{{item.carry}}</span>
            </div>
          </div>
          <div *ngIf="item.skill" class="list-item-extra">
            <div class="list-item-skill">
              <img src="{{item.skill.iconPath}}" />
              <span>{{item.skill.name}}</span>
              <span class="skill-desc">{{item.skill.desc}}</span>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </ng-container>

</div>
