<header id="data-header">  
  <h1 class="header-category">{{category}}</h1>
  <div class="header-tools">
    <div class="tools-tab">
      <div class="chevron-down"></div>
    </div>
    <div class="tools-btns">

      <div class="header-btn">
        <button class="btn-round btn-sml btn-light" >
          <i class="material-icons header-btn-icon">search</i>
        </button>
        <div class="header-btn-tooltip">
          <span>Search</span>
        </div> 
      </div>
  
      <div class="header-btn">
        <button class="btn-round btn-sml btn-light" (click)=addNewItem()>
          <i class="material-icons header-btn-icon">add</i>
        </button>
        <div class="header-btn-tooltip">
          <span>Add New Item</span>
        </div> 
      </div>
  
      <div class="header-btn">
        <button class="btn-round btn-sml btn-light"
          [ngClass]="{'toggled-on' : editMode}"
          (click)="this.editMode = !this.editMode">
          <i class="material-icons header-btn-icon">edit</i>
        </button>  
        <div class="header-btn-tooltip">
          <span>Toggle Edit Mode</span>
        </div> 
      </div>
  
      <div class="header-btn">
        <button class="btn-round btn-sml btn-light" (click)="selectAll($event)">
          <i class="material-icons header-btn-icon">reorder</i>
        </button>
        <div class="header-btn-tooltip">
          <span *ngIf="itemsSelected.length == 0, else deselectTxt"> Select All </span>
          <ng-template #deselectTxt><span>Deselect All</span></ng-template>
        </div> 
      </div>
      
      <div class="header-btn">
        <button class="btn-round btn-sml btn-light" (click)=deleteSelected()>
          <i class="material-icons header-btn-icon">delete</i>
        </button>
        <div class="header-btn-tooltip">
          <span> Delete Selected</span>
        </div> 
      </div>    
    </div>
    <div class="tools-search">

    </div>
  </div>

<!-- 
  <div class="header-search">
    <img class="search-icon" src="assets/searchIcon.png" />
    <input (keyup)="searchFilter()" [(ngModel)]="searchStr" class="search" placeholder="Search..." />
  </div> -->
</header>

<div id="data-container">
  <section class="data-category">
    <ul>
      <li *ngFor="let item of itemsFiltered">
        <div (click)="onItemClick($event, item)" class="list-item" 
          [ngClass]="{'selected' : itemsSelected.includes(item)}">
          <div class="list-item-icon">
            <img src={{item.iconUrl}} alt={{item.name}}/>
          </div>
          <div class="list-item-name">
            {{item.name}}
          </div>
          <div [ngClass]="'rare' + item.rarity">
            R{{item.rarity}}
          </div>
          <div class="list-item-desc">
            {{item.desc}}
          </div>
          <div class="list-item-obtained">
            Obtained <span> {{item.obtainedFrom}} </span>
          </div>            
          <div>
            Buy <span>{{item.buyPrice}} z </span>
          </div>
          <div>
            Sell <span>{{item.sellPrice}} z </span>
          </div>
          <div>
            Carry <span>{{item.carry}}</span>
          </div>
        </div>
        <div *ngIf="item.skill" class="list-item-extra">
          <div class="list-item-skill">
            <img src="{{item.skill.iconPath}}" />
            <span>{{item.skill.name}}</span>
            <span class="skill-desc">{{item.skill.desc}}</span>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
