%small-italic {
  font-style: italic;
  font-size: 10px;
}

// Header CSS
#data-header {
  height: 92px;
  background-color: #1f242c;
  display: grid;
  grid-template-columns: 7% 35% auto auto;
}

// Header columns containers
.header-search {
  grid-column: 2;
  align-self: center;
  display: flex;
}

.header-cats {
  grid-column: 4;
  display:flex;
  justify-self: end;
}

.header-img {
  grid-column: 1;
}

.header-tools {
   grid-column: 3;
   align-self: center;
   display: flex;
   flex-direction: column;

   button { width: 130px; margin: 3px;}
}

// Search bar css
.search {
  width: 80%;
  font-size: 28px;
  background: transparent;
  border: 0px;
  color: #ffffff;
  border-bottom: 3px solid #141518;
  padding-left: 8px;

  ::placeholder{
    color: #85878a;
  }
}

.search-icon {
  width: 45px;
  max-width: 45px;
  max-height:45px;
  padding-right: 6px;
}

// Categories css
.category {
  width: 70px;
  margin-right: 5px;
  
  img { position: absolute; }
}

// Data container CSS

.data-category {
  ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 5px 0px 0px 10px;
    padding: 0;
  }
  header {
    color: #e3e3e4;
    background-color: #0a0c10;

    border-top: 4px solid #e3e3e4;
    border-bottom: 4px solid #e3e3e4;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    margin: 10px 0px 4px 0px;

    display: inline-block;

    h3{
      margin: 4px 7px 2px 7px;
      display: inline-block;
    }
  }
}

.list-item {
  width:98%;
  min-height:35px;
  background-color: #161b24;
  color: #a0a0a0;

  display:inline-grid;
  grid-template-columns: 40px 10% 2% 40% auto 8% 8% 8%;

  border-radius: 5px;
  border: 1px solid transparent;

  transition: border 0.4s;

  font-size: 15px;
  font-family: DINPRO;

  align-items: center;
  vertical-align: bottom;

  span {
    color: #d69230;
    margin: 0px 4px 0px 4px;
  }

}

.list-item:hover{
  border: 1px solid rgba(227, 227, 228, 0.7) !important;
}

.list-item-icon {
  height: 100%;
  background-color: #0b0d12;
  border-radius: 5px 0px 0px 5px;
  display:flex;
  align-items:center;

  img{ margin: 4px; max-width:32px; }
}

.list-item-desc {
  font-size: 12px;
  font-style: italic;
}

.list-item-name {
  margin-left: 7px;
  font-size: 17px;
  color: white;
}

.list-item-extra{
  width: calc(30% - 40px);
  margin-left: 40px;
  background-color: #12161e;
  color: white;
  display:flex;
  border-radius: 0px 0px 4px 4px;
  padding: 5px 0px 5px 5px;
}

.list-item-skill {
  display: inline;
  font-family: DINPRO;
  img {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
  }
  .skill-desc {
    @extend %small-italic;
    color: gray;
  }
}


.top{  z-index: 1; transition: opacity 0.3s;}
.top:hover{ opacity: 0.4; }
