<div class="container-jic">
  <div class="table-nav">
    <h2> Items </h2>
    <hr />
    <ul>
      <li>Materials</li>
      <li>Ammo/Coatings</li>
      <li>Decorations</li>
      <li>Consumables and Misc</li>
      <li>Specialized Tools</li>
    </ul>
  </div>
  <div class="table-nav">
    <h2> Weapons </h2>
    <hr />
    <ul>
      <li>Sword & Shield</li>
      <li>Dual Blades</li>
      <li>Great Sword</li>
      <li>Long Sword</li>
      <li>Lance</li>
      <li>Gunlance</li>
      <li>Hammer</li>
      <li>Hunting Horn</li>
      <li>Charge Blade</li>
      <li>Switch Axe</li>
      <li>Insect Glaive</li>
      <li>Kinsects</li>
      <li>Heavy Bowgun</li>
      <li>Light Bowgun</li>
      <li>Bow</li>
    </ul>
  </div>
  <div class="table-nav">
    <h2> Armor </h2>
    <hr />
    <ul>
      <li>Low Rank</li>
      <li>High Rank</li>
      <li>Charms</li>
    </ul>
  </div>
  <div class="table-nav">
    <h2> Skills</h2>
  </div>
  <div class="table-nav">
    <h2> Builds </h2>
  </div>
</div>
