.table-nav{
  padding-top: 20px;

  h2 {
    color: #a4302a;
    padding: 0px;
    margin: 0 0 0 7px;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0 0 0 7px;
  }
  li {
    color: white;
  }
}
