.grid-container {
  height: 100vh;
  width: 100vw;
  min-height:200px;
  min-width:1000px;
  display: grid;
  grid-template-columns: 5% auto 5% 300px 30px;
  grid-template-rows: 70px auto;
}

// Header rules here
$border: 3px solid #97743a;

.header {
  background-color:#202938;
  grid-row: 1 / 2;
  grid-column: 1 / span 5;
  z-index: 1
  // border-top: $border;
  // border-bottom : $border;
}

.header-grid{
  display:inline-grid;
  grid-template-columns: 70px 100px 100px;
  height: 100%;
  margin-left: 5px;
}

.header-grid-child{
  margin:0px;
  padding:0px;
  align-self: center;
}

h1.header-grid-child{
  color: #FFFFFF;
}

img.header-logo {
  width: 60px;
  height: 60px;
}


// Main container rules here
.main-container {
  background-color: #262f3e;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;  
  width:100%;
}

// Sidebar rules here
.sidebar-container {
  background-color: #27303f;
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  padding: 0 10px 0 10px;
  max-height: 100%;
  //overflow-y: scroll;
}
