<div class="grid-container">
  <header class="header">
    <div class="header-grid">
      <img class="header-logo header-grid-child" src="assets/guildlogo.PNG" />
      <h1 class="header-grid-child"> MHWDB </h1>      
    </div>
  </header>
  <main id="main-container">
    <div id="modal-container" class="hidden">
    </div>
    <div id="overlay" (click)="removeModal()" class="hidden"></div>
    <div id="toast-container">
    </div>
    <router-outlet></router-outlet>
  </main>
  <nav id="sidebar-container">
    <app-sidebar></app-sidebar>
  </nav>
</div>




