// Styles for item detail views.
.item-detail {
    display: grid;
    grid-template-rows: repeat(4, [row] auto);
    align-items: center;
    grid-row-gap: 5px;
    grid-column-gap: 15px;
    
    h1 { margin: 0px; }
}

.item-row-1 {
    grid-row: 1;
    display: inline-grid;
    grid-template-columns: repeat(3, [col] auto);
    grid-column-gap: 8px;
    align-items: center;
}

.item-name input{
    font-size: 1.4em;
    width: 275px;
}

.item-type {
    font-style: italic;
    justify-self: right;
}

.item-row-2 {
    grid-row: 2;
    display: inline-grid;
    grid-template-columns: 106px auto;
    grid-column-gap: 8px;    
}

.item-icon {
    position: relative;

    img {
        width: 100px;
        border: 3px solid #0d1017;
        background-color: #1a202c;
        border-radius: 7px;
        transition: opacity 0.5s;
    }

    .upload-img {
        opacity: 0;
        width:100px;
        height:100px;
        text-align:center;
        top: 36%;
        top: 3px;
        left: 3px;
        position: absolute;
        transition: opacity 0.5s;
        background: black;

        input {
            position: absolute;
            width: 100px;
            height: 100px;
            opacity: 0;
            z-index: 2;
        }

        span {
            position: relative;
            top: 35%;
        }
    }
}
.item-icon:hover{
    
    .upload-img {
        opacity: 0.7;
        cursor: pointer;
    }
}

.item-desc-n-misc {
    display: grid;
}

.item-desc {
    margin: 0;
    color: #a0a0a0;
    width:100%;
    font-style: italic;
    align-self: end;

    textarea{
        width:100%;
        resize: none;        
        overflow-y: hidden;
    }
}

.item-misc {
    display: grid;
    grid-template-columns: repeat(3, [col] auto);
    padding-left: 8%;
    padding-right: 8%;
}

.item-label {
    font-size: 10px;
}

.item-rarity {    
    width: 49px;
}

.item-buy {
    @extend %span-color, %justify-n-align-center, %misc-input;
    grid-column: col 1;
}

.item-sell {
    @extend %span-color, %justify-n-align-center, %misc-input;
    grid-column: col 2;    
}

.item-carry {
    @extend %span-color, %justify-n-align-center, %misc-input;
    grid-column: col 3;
}

.item-row-3 {
    grid-row: 3;
}

.item-obtain {
    @extend %span-color;
    width: 100%;
    input { width: 100%; }
}

.item-row-4 {
    grid-row: 4;
}

.item-extra {
    display: inline-grid;
    grid-template-columns: 49px auto;
    grid-column-gap: 8px;
    width: 100%;

}

.item-jewel-lvl {
    width: 49px;
}


.item-skill {
    display: inline-grid;
    grid-template-rows: auto auto;
    img {
        width: 50px;
        height: 50px;
        grid-row: 1 / span 2;
    }
    .skill-name { 
        grid-row: 1;
        align-self: end;
    }
    .skill-desc { 
        grid-row: 2;
        font-size: 10px;
        font-style: italic;
        color: gray;
    }
}

.item-submit {
    grid-row: row 5;
}

%span-color{
    span { color: #d69230; }
}

%misc-input {
    input { width: 35px; text-align: right; }
}

%justify-n-align-center {
    justify-self: center;
    align-self: center;
}

