/* You can add global styles to this file, and also import other style files */

body {
  margin:0px;
  background-color: #434c5c;
  background-image: url("assets/dark-triangles.png");
  font-family: meiryo;
}
