@media only screen and (min-width: 768px){
  .sidebar-button {
    display: none;
  }
}

@media only screen and (max-width: 768px){
  .sidebar-button {
    display: inline-block;
  }
  .category-container {
    display: none;
  }
  .category-container.show {
    display: block;
  }
}

.sidebar-button { 
  z-index: 2;
  justify-self: right;
  height: 70px;
  img {
    height: 50px;
    margin: 10px 4px;
    border-radius: 6px;
    &:hover {
      background: #151a24;
      cursor: pointer;
    }  
  }
  
}

.nav-container {
  display: grid;
  grid-template-rows: 2;
}

.category-container {
  background-color: #27303f;
  border: 1px solid #3f4651;
  border-bottom: none; /*Border bottom in sidebar*/
  border-radius: 2px;
}

.feat-category {
  color: #dbdbdb;
  background: #171d27;
  border-left: 3px solid #d69230;
  border-bottom: 1px solid #3f4651;

  h2{
    margin: 0;
    padding: 3px 5px;
    text-decoration: none;
  }

  a, a:visited {
    transition: color 0.5s;
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #dbdbdb;
  }
}

.feat-sub-category {
  list-style-type: none;
  border-bottom: 1px solid #3f4651;
  padding: 0;
  margin: 0;

  a:visited, a:link {
    color: #d4d4d4;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
  }

  li {
    background: #262f3e;
    transition: border 0.2s, background 0.5s;
  }
  li:hover {
    border-left: 3px solid #b62d2f;
    background: #2c3645;
  }
}

