.feat-category {
  color: #dbdbdb;
  background: #171d27;
  border-left: 3px solid #d69230;
  border-bottom: 1px solid #3f4651;

  h2{
    margin: 0;
    padding: 3px 5px;
    text-decoration: none;
  }

  a, a:visited {
    transition: color 0.5s;
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #dbdbdb;
  }
}

.feat-sub-category {
  list-style-type: none;
  border-bottom: 1px solid #3f4651;
  padding: 0;
  margin: 0;

  a:visited, a:link {
    color: #d4d4d4;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
  }

  li {
    background: #262f3e;
    transition: border 0.2s, background 0.5s;
  }
  li:hover {
    border-left: 3px solid #b62d2f;
    background: #2c3645;
  }
}

