<div class="container-jic">
  <div class="table-nav">
    <a routerLink="/items" class="head-link" >Items</a>
    <ul>
      <li>Materials</li>
      <li>Ammo/Coatings</li>
      <li>Decorations</li>
      <li>Consumables and Misc</li>
      <li>Specialized Tools</li>
    </ul>
  </div>
  <div class="table-nav">
    <a routerLink="/weapons" class="head-link" >Weapons</a>
    <ul>
      <li>Sword & Shield</li>
      <li>Dual Blades</li>
      <li>Great Sword</li>
      <li>Long Sword</li>
      <li>Lance</li>
      <li>Gunlance</li>
      <li>Hammer</li>
      <li>Hunting Horn</li>
      <li>Charge Blade</li>
      <li>Switch Axe</li>
      <li>Insect Glaive</li>
      <li>Kinsects</li>
      <li>Heavy Bowgun</li>
      <li>Light Bowgun</li>
      <li>Bow</li>
    </ul>
  </div>
  <div class="table-nav">
    <a routerLink="/armor" class="head-link" >Armor</a>
    <ul>
      <li>Low Rank</li>
      <li>High Rank</li>
      <li>Charms</li>
    </ul>
  </div>
  <div class="table-nav">
    <a routerLink="/skills" class="head-link" >Skills</a>
  </div>
  <div class="table-nav">
    <a routerLink="/builds" class="head-link" >Builds</a>
  </div>
</div>
